<h2><%= @entry.title %></h2>

<p><%= @entry.body  %></p>

<a href="/update_entry?id=<%= @entry.id %>">Update Entry</a>
<br>
<br>
<form action='/delete_entry?id=<%= @entry.id %>' method='post'>
  <input type='submit' value='Delete Entry'>
</form>
